<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery.js"></script>
		
		<title>Psychology Today</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>